<article id="{{title}}" class="screen">
    <header>
        <h1>Ticket bestellen</h1>
    </header>
    {{#ifTypeIsPublic type}}
    <form method="post" action="#">
        <div>
            <label for="txtName_{{title}}">Naam:</label>
            <input type="text" required="required" name="txtName" class="txtName" id="txtName_{{title}}" placeholder="Joske Vermeulen"/>
        </div>

        <div>
            <label for="txtEmail_{{title}}">E-mailadres:</label>
            <input type="email" required name="txtEmail" class="txtEmail" id="txtEmail_{{title}}" placeholder="joske.vermeulen@trammezand.lei" required="required" />
        </div>

        <div>
            <label for="rngTickets_{{title}}">Aantal tickets:</label>
            <input type="range" required name="rngTickets" class="rngTickets" id="rngTickets_{{title}}" min="1" max="{{tickets_available}}" required="required"/>
        </div>

        <div>
            <input type="submit" name="btnSubmit" class="btnSubmit" value="Verder naar bestellen"/>
        </div>
    </form>
    {{/ifTypeIsPublic}}
    {{#ifTypeIsSchool type}}
    <form method="post" action="#">
        <div>
            <label for="txtName_{{title}}">Schoolnaam:</label>
            <input type="text" required name="txtName" class="txtName" id="txtName_{{title}}" placeholder="Volledige schoolnaam"/>
        </div>

        <div>
            <label for="txtEmail_{{title}}">E-mailadres:</label>
            <input type="email" required name="txtEmail" class="txtEmail" id="txtEmail_{{title}}" placeholder="joske.vermeulen@trammezand.lei"/>
        </div>

        <div>
            <input type="submit" name="btnSubmit" class="btnSubmit" value="Verder naar bestellen"/>
        </div>
    </form>
    {{/ifTypeIsSchool}}
</article>